/* src/pages/ChatRoom/ChatRoom.css */
.chat-room {
  position: fixed;
  margin-top: 5rem; /* Push below navbar */
  height: calc(100vh - 5rem - 6rem); /* Total height minus navbar and footer */
  overflow-y: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
}



.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 20px;
  color: #555;
}
h2{
  margin-top: 10%;
}